language: node_js
node_js:
- 8.9.0
dist: trusty
git:
  depth: false
jobs:
  include:
  - stage: Fundamental-react build
    name: Unit tests
    script: bash ./ci-scripts/unit-tests.sh
  - stage: deploy
    if: branch = master
    before_deploy:
    - bash ./ci-scripts/setup_npm.sh
    deploy:
      - provider: script
        script: bash ./ci-scripts/publish.sh $TRAVIS_BRANCH $TRAVIS_BUILD_NUMBER
        skip_cleanup: true
notifications:
  email:
    on_failure: always
    on_success: change
# before_deploy:
# - bash ./ci-scripts/setup_npm.sh
# deploy:
#   - provider: script
#     script: bash ./ci-scripts/publish.sh $TRAVIS_BRANCH $TRAVIS_BUILD_NUMBER
#     on:
#       branch: master
#     skip_cleanup: true